body{
	background: url("../images/background.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Lobster Two', cursive;
    color: black;
}
.header {
  background-color: inherit;
}
.header h1 {
  text-align: center;
  font-size: 75px;
}
.addAnimals{
  position: relative;
  right: 0%;
  /* border: 3px solid #73AD21; */
  text-align: center;
}
#gifBtn {
	background-color: #baefeb;
	opacity: 0.8;
	padding: 20px;
}
.aniGIF {
  /* making the images go in one line rather than block & adding spacing between the images*/
  float: left;
  margin: 3px;
  padding: 10px;
  border: 3px solid #baefeb;

}
.anbtn {
  background-color: #16a4cc;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  color: black;
  font-weight: 900;
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
}
.anbtn:hover {opacity: 1; background-color: rgba(30, 22, 54, 0.6);}

input {
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 10px auto;
  max-width: auto;
  text-decoration: none;
  border-radius: 0px;
  padding: 10px 10px;
}

input.button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

input.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

input.button2 {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

input.button2:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}
